<!DOCTYPE html>
<html lang="zh_cn">
<head>
    {% include 'head.html' %}
    <title id="shareport_title">FileDock</title>
    <script>
        window.shareportname = "{{shareportname}}";
    </script>
    <script>
        var user_type = 0;
        var shareportid = "{{shareportid}}";
        function timestampToYMD(timestamp) {
            var date = new Date(timestamp * 1000);
            var year = date.getFullYear();
            var month = ("0" + (date.getMonth() + 1)).slice(-2);
            var day = ("0" + date.getDate()).slice(-2);
            return year + "-" + month + "-" + day;
        }

        var user_exit = (session_id) => {
            $.ajax({
                url: "/api/v1/user/logout",
                method: "POST",
                timeout: 0,
                headers: {
                    "Content-Type": "application/json",
                    "X-Session-ID": session_id,
                },
            }).done((response) => {
            });
        };

        var getUserTypeAndContinue = (keep_time) => {
            var session_id = $.cookie("session_id");
            if (session_id) {
                $.ajax({
                    url: "/api/v1/session/verify",
                    method: "GET",
                    timeout: 0,
                    headers: {
                        "Content-Type": "application/json",
                        "X-Session-ID": session_id,
                    },
                }).done((response) => {
                    if (response.success) {
                        console.log(response);
                        $.ajax({
                            url: "/api/v1/user/info",
                            method: "POST",
                            timeout: 0,
                            headers: {
                                "Content-Type": "application/json",
                            },
                            data: JSON.stringify({
                                uid: $.cookie("uid"),
                            }),
                        }).done((response) => {
                            if (response.success) {
                                if (response.data.group == "default") {
                                    user_type = 1;
                                    if (keep_time > 30) {
                                        $("#upload_warning")[0].innerText = "* 最多仅能保存 30 天";

                                    } else {
                                        $("#upload_modal_second").modal("hide");
                                        $("#upload_modal").modal("hide");
                                        uploadFile(keep_time);
                                    }
                                } else if (response.data.group == "operator") {
                                    $("#upload_modal_second").modal("hide");
                                    $("#upload_modal").modal("hide");
                                    uploadFile(keep_time);
                                }
                            }
                        });
                    } else {
                        if (user_type == 0 && keep_time > 1) {
                            $("#upload_warning")[0].innerText = "* 你尚未登录，最多仅能保存 1 天";

                        } else {
                            $("#upload_modal_second").modal("hide");
                            $("#upload_modal").modal("hide");
                            uploadFile(keep_time);
                        }
                    }
                });
            } else {
                if (user_type == 0 && keep_time > 1) {
                    $("#upload_warning")[0].innerText = "* 你尚未登录，最多仅能保存 1 天";

                } else {
                    $("#upload_modal_second").modal("hide");
                    $("#upload_modal").modal("hide");
                    uploadFile(keep_time);
                }
            }
        };

        var uploadFile = (keep_time) => {
            fileInput = document.getElementById("fileInput");
            file = fileInput.files[0];
            file_name = file.name;
            formData = new FormData();
            formData.append("fileInput", file);
            formData.append("keep_time", keep_time * 24 * 60 * 60);
            formData.append("shareport", shareportid);
            formData.append("receive_user", 0);
            fileInput.value = null;
            var headers = {};
            console.log(shareportid);
            if ($.cookie("session_id") != undefined) {
                headers["X-Session-ID"] = $.cookie("session_id");
            }
            $.ajax({
                url: "/api/v1/files/upload",
                method: "POST",
                headers: headers,
                data: formData,
                processData: false,
                contentType: false,
            }).done((response) => {
                if (response.success) {
                    console.log(response);
                    code = response.data.code;
                    $("#file_name_dispaly")[0].innerText = file_name;
                    $(".code_display")[0].innerText = code;
                    $("#upload_modal_second")
                        .modal({
                            blurring: true,
                            observeChanges: true,
                        })
                        .modal("show");
                } else if (response.code == 401) {
                    $.removeCookie("uid");
                } else {
                    alert(response.data.message);
                }
            });
        };
        var downloadByCode = (code) => {
            headers = {
                "Content-Type": "application/json",
            };
            data = {
                code: code,
            };
            if (user_type == 0 || user_type == 1) {
                data["captcha"] = {
                    "lot_number": "",
                    "captcha_output": "",
                    "pass_token": "",
                    "gen_time": "",
                }
            } else if (user_type == -1) {
                headers["X-Session-ID"] = $.cookie("session_id");
            }
            $.ajax({
                url: "/api/v1/files/get",
                method: "POST",
                headers: headers,
                data: JSON.stringify(data),
            }).done((response) => {
                if (response.success) {
                    $("#download_modal_by_code").modal("hide");
                    $("#download_list_modal").modal("hide");
                    $("#download_list_modal tbody").empty();
                    $("#download_list_modal tbody").append(`
              <tr>
                <td data-label="文件名">${response.data.filemeta.filename}</td>
                <td data-label="上传时间">${timestampToYMD(response.data.filemeta.upload_time)}</td>
                <td data-label="取件码" style="color: rgb(66, 145, 246)"">${response.data.filemeta.code}</td>
                <td data-label="操作">
                  <button class="downloadbutton" onclick="downloadFileByClick('${response.data.task_uuid.toString()}')"><i class="download icon"></i></button>
                </td>
              </tr>
            `);
                    $("#download_list_modal")
                        .modal({
                            blurring: true,
                            observeChanges: true,
                        })
                        .modal("show");
                }
                else {
                    $("#download_warning")[0].innerText = "* 请检查取件码是否正确";
                }
            });
        };
        var shareportFileList = () => {
            $.ajax({
                url: "/api/v1/shareport/files",
                method: "POST",
                timeout: 0,
                headers: {
                    "Content-Type": "application/json",
                    "X-Session-ID": $.cookie("session_id"),
                },
                data: JSON.stringify({
                    uuid: shareportid,
                }),
            }).done((response) => {
                if (response.success) {
                    console.log(response);
                    $("#download_list_modal tbody").empty();
                    for (var i = response.data.files.length-1; i >= 0; i--) {
                        $("#download_list_modal tbody").append(`
                <tr>
                  <td data-label="文件名">${response.data.files[i].filename}</td>
                  <td data-label="上传时间">${timestampToYMD(response.data.files[i].upload_time)}</td>
                  <td data-label="取件码" style="color: rgb(66, 145, 246)"">${response.data.files[i].code}</td>
                  <td data-label="操作">
                    <button class="downloadbutton_in_list" onclick="downloadFileInList(${response.data.files[i].code})"><i id="${response.data.files[i].code}_icon" class="download blue icon"></i></button>
                    <button class="deletebutton" onclick="deleteFile('${response.data.files[i].uuid.toString()}')"><i class="close red icon"></i></button>
                  </td>
                </tr>
              `);
                    }
                    $("#download_list_modal")
                        .modal({
                            blurring: true,
                            observeChanges: true,
                        })
                        .modal("show");
                }
            });
        };
        var downloadFileByClick = (task_uuid) => {
            console.log("click");
            window.location.href = "/api/v1/files/download?task_uuid=" + task_uuid;
        }
        var deleteFile = (task_uuid) => {
            $.ajax({
                url: "/api/v1/files/delete",
                method: "POST",
                timeout: 0,
                headers: {
                    "X-Session-ID": $.cookie("session_id"),
                    "Content-Type": "application/json",
                },
                data: JSON.stringify({
                    "uuid": task_uuid,
                }),
            }).done((response) => {
                if (response.success) {
                    $("#download_list_modal").modal("hide");
                    downloadFileList();
                }
            });
        };
        var downloadFileInList = (code) => {
            headers = {
                "Content-Type": "application/json",
            };
            data = {
                code: code,
            };
            headers["X-Session-ID"] = $.cookie("session_id");
            $.ajax({
                url: "/api/v1/files/get",
                method: "POST",
                headers: headers,
                data: JSON.stringify(data),
            }).done((response) => {
                if (response.success) {
                    icon_id = code+"_icon";
                    $("#"+icon_id).removeClass("blue");
                    $("#"+icon_id).removeClass("download");
                    $("#"+icon_id).addClass("green");
                    $("#"+icon_id).addClass("check");
                    window.location.href = "/api/v1/files/download?task_uuid=" + response.data.task_uuid.toString();
                }
            });
        };
        var downloadFileList = () => {
            $.ajax({
                url: "/api/v1/files/list",
                type: "POST",
                headers: {
                    "X-Session-ID": $.cookie("session_id"),
                },
                success: function (data, status, xhr) {
                    console.log(data);
                },
                error: function (xhr, status, error) {
                    console.error("Error: " + status + " " + error);
                },
            }).done((response) => {
                if (response.success) {
                    console.log(response);
                    $("#download_list_modal tbody").empty();
                    for (var i = response.data.files.length-1; i >= 0; i--) {
                        $("#download_list_modal tbody").append(`
                <tr>
                  <td data-label="文件名">${response.data.files[i].filename}</td>
                  <td data-label="上传时间">${timestampToYMD(response.data.files[i].upload_time)}</td>
                  <td data-label="取件码" style="color: rgb(66, 145, 246)"">${response.data.files[i].code}</td>
                  <td data-label="操作">
                    <button class="downloadbutton_in_list" onclick="downloadFileInList(${response.data.files[i].code})"><i id="${response.data.files[i].code}_icon" class="download blue icon"></i></button>
                    <button class="deletebutton" onclick="deleteFile('${response.data.files[i].uuid.toString()}')"><i class="close red icon"></i></button>
                  </td>
                </tr>
              `);
                    }
                    $("#download_list_modal")
                        .modal({
                            blurring: true,
                            observeChanges: true,
                        })
                        .modal("show");
                }
            });
        };
    </script>
</head>
<body>
<div class="app">
    <div class="mb-1 z-40 w-full">
        <div class="max-w-8xl mx-auto text-lg">
          <div class="py-4 border-b border-slate-900/10 lg:px-1 lg:border-0 dark:border-slate-300/10 mx-4 lg:mx-0">
            <div class="flex justify-between items-center">
                <div class="ui dropdown">
                    <input type="hidden" name="filters">
                    <span id="shareportname" class="text-3xl w-52 font-bold mb-2 bg-clip-text text-transparent bg-gradient-to-r from-cyan-400 via-blue-400 to-purple-500">SharePort</span>
                    <div class="menu">
                        <div class="item" id="FileDock">
                            <span class="text-xl w-52 font-bold mb-2 bg-clip-text text-transparent bg-gradient-to-r from-blue-400 via-blue-400 to-blue-400">FileDock</span>
                        </div>
                        <div class="item" id="SharePort">
                            <span class="text-xl w-52 font-bold mb-2 bg-clip-text text-transparent bg-gradient-to-r from-blue-400 via-blue-400 to-blue-400">SharePort</span>
                        </div>
                    </div>
                </div>
                <div class="ui icon top pointing dropdown button">
                    <i class="user circle icon"></i>
                    <div class="menu">
                        <div class="header hidden" id="display_username"></div>
                        <div class="item" id="login_button">登录</div>
                        <div class="item hidden" id="file_list_button">我的文件</div>
                        <div class="item" id="exit_button">退出</div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="flex flex-col flex-grow justify-center items-center">
        <img
                alt="FileDock"
                class="w-1/3 md:w-1/5 mb-8"
                src="/static/favicon/favicon.png"
        />
        <input id="fileInput" style="opacity: 0" type="file"/>
        <button
                class="massive ui button blue w-1/2 md:w-2/5 text-xl"
                id="upload_button"
        >
            上传
        </button>
        <button class="massive ui button w-1/2 md:w-2/5 text-xl" id="download_button">接收</button>
        <div class="ui modal tiny mydimmer" id="upload_modal" style="padding: 20px">
            <div class="header">
                <div class="flex items-center">
                    <button
                            class="close icon button"
                            id="upload_modal_close_button_first"
                    >
                        <i class="close icon"></i>
                    </button>
                    <h3 class="ml-2">上传文件</h3>
                </div>
            </div>
            <div class="content">
                <div class="field">
                    <div class="ui form">
                        <div class="field">
                            <label>保存天数</label>
                            <input
                                    id="keep_time_form"
                                    placeholder="1"
                                    type="text"
                                    value="1"
                            />
                        </div>
                    </div>
                    <div class="flex mt-2">
                        <p class="mb-6" id="upload_warning" style="color: red;"></p>
                    </div>
                    <div class="flex justify-center mt-2">
                        <button
                                class="ui button blue w-1/2 md:w-1/5 text-xl"
                                id="upload_modal_button"
                        >
                            上传
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui modal mydimmer square" id="upload_modal_second">
            <div class="header">
                <button
                        class="close icon button"
                        id="upload_modal_close_button_second"
                >
                    <i class="close icon"></i>
                </button>
            </div>
            <div class="content">
                <div class="flex flex-col items-center">
                    <p class="text-xl font-bold mb-20">
                        您的文件 <span id="file_name_dispaly"></span> 已成功上传至该 <span style="color: rgb(66, 145, 246);">SharePort</span>
                    </p>
                    <p class="mb-6">您的取件码：</p>
                    <div class="code_display font-bold mb-11">123456</div>
                    <!-- <div class="flex justify-center">
                      <a href="#" class="massive ui blue w-1/2 md:w-2/5 text-xl " onclick="copyCode()" style="animation: glowing 2s infinite;">
                        复制
                      </a>
                    </div> -->
                    <p class="m-10">接收文件时请点击 <span style="color: rgb(66, 145, 246);">SharePort</span> 中的接收或请输入此取件码。</p>
                    <p class="mb-1">
                        由
                        <a
                                href="/"
                                style="color: rgb(66, 145, 246)"
                        >FileDock</a
                        >
                        提供服务
                    </p>
                </div>
            </div>
        </div>
        <div class="ui modal mini mydimmer" id="download_modal_by_code" style="padding: 20px;">
            <div class="header">
                <div class="flex items-center">
                    <button
                            class="close icon button"
                            id="download_modal_by_code_close_button"
                    >
                        <i class="close icon"></i>
                    </button>
                    <h3 class="ml-2">取件码接收</h3>
                </div>
            </div>
            <div class="content">
                <div class="flex flex-col items-center">
                    <p class="text-xl font-bold mb-16">
                    </p>
                    <div class="ui form mb-6 w-full">
                        <div class="huge field">
                            <label>取件码</label>
                            <input class="flex content-between" placeholder="请输入取件码" type="text"/>
                        </div>
                        <div class="flex mt-2">
                            <p class="mb-6" id="download_warning" style="color: red;"></p>
                        </div>
                    </div>
                    <div class="flex justify-center mt-14">
                        <button class="ui button blue text-xl" id="download_by_code_button">
                            接收
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal mydimmer " id="download_list_modal" style="padding: 20px">
        <div class="header">
            <div class="flex items-center">
                <button
                        class="close icon button"
                        id="download_list_modal_close_button"
                >
                    <i class="close icon"></i>
                </button>
                <h3 class="ml-2" id="download_list_modal_head">文件列表</h3>
            </div>
        </div>
        <div class="content">
            <table class="ui celled striped table" id="download_list">
                <thead>
                <tr>
                    <th>文件名</th>
                    <th>上传时间</th>
                    <th>取件码</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div class="flex flex-col items-end w-full">
    {% include 'footer.html' %}
</div>
</div>
<script>
    shareportid ="{{shareportid}}";
    console.log(shareportid);
    $.ajax({
        url: "/api/v1/shareport/info",
        method: "POST",
        timeout: 0,
        headers: {
            "X-Session-ID": $.cookie("session_id"),
            "Content-Type": "application/json",
        },
        data: JSON.stringify({
            uuid: shareportid,
        }),
    }).done((response) => {
        if (response.success) {
            $("#shareportname")[0].innerText = "SharePort - "+response.data.name;
            $("#shareport_title")[0].innerText = "FileDock | SharePort - "+response.data.name;
        }
    });
    $("#login_button")[0].addEventListener("click", () => {
        window.location.href = "/login";
    });
    $("#exit_button")[0].addEventListener("click", () => {
        user_exit($.cookie(""));
        $.removeCookie("uid");
        $.removeCookie("session_id");
        window.location.href = "/";
    });
    $('#FileDock').click(function() {
        window.location.href = "/";
    });
    $('#SharePort').click(function() {
        window.location.href = "/shareport";
    });
</script>
<script>
    $("#upload_button")[0].addEventListener("click", () => {
        $("#fileInput").click();
    });
    $("#fileInput").on("input", () => {
        $("#upload_modal")
            .modal({
                blurring: true,
                observeChanges: true,
            })
            .modal("show");
    });
    $("#upload_modal_button")[0].addEventListener("click", () => {
        keep_time = $("#keep_time_form")[0].value;
        if (Number.isInteger(parseInt(keep_time)) && parseInt(keep_time) > 0) {
            getUserTypeAndContinue(keep_time);
        } else {
            $("#upload_warning")[0].innerText = "* 非法输入";
        }
    });
    $("#upload_modal_close_button_first")[0].addEventListener("click", () => {
        $("#upload_modal").modal("hide");
        $("#upload_modal_second").modal("hide");
    });
    $("#upload_modal_close_button_second")[0].addEventListener(
        "click",
        () => {
            $("#upload_modal").modal("hide");
            $("#upload_modal_second").modal("hide");
        }
    );
    $("#download_button")[0].addEventListener("click", () => {
        shareportFileList();
    });
    $("#download_modal_by_code_close_button")[0].addEventListener("click", () => {
        $("#download_modal_by_code").modal("hide");
        $("#download_list_modal").modal("hide");
    });
    $("#download_list_modal_close_button")[0].addEventListener("click", () => {
        $("#download_modal_by_code").modal("hide");
        $("#download_list_modal").modal("hide");
    });
    $("#download_by_code_button")[0].addEventListener("click", () => {
        code = $("#download_modal_by_code input")[0].value;
        downloadByCode(code);
    });
    $("#file_list_button")[0].addEventListener("click", () => {
        downloadFileList();
    });
</script>
<script>
    $(".ui.dropdown").dropdown();

    var display_username = () => {
        disname_obj = $("#display_username")[0];
        disname_obj.classList.remove("hidden");
        disname_obj.classList.add("font-bold");
        dislist_obj = $("#file_list_button")[0];
        dislist_obj.classList.remove("hidden");
        $.ajax({
            url: "/api/v1/user/info",
            method: "POST",
            timeout: 0,
            headers: {
                "Content-Type": "application/json",
            },
            data: JSON.stringify({
                uid: $.cookie("uid"),
            }),
        }).done((response) => {
            if (response.success) {
                $("#display_username")[0].innerText = response.data.username;
            }
        });
    };
    uid = $.cookie("uid");
    session_id = $.cookie("session_id");
    $.removeCookie("uid");
    $.removeCookie("session_id");
    if (session_id) {
        $.ajax({
            url: "/api/v1/session/verify",
            method: "GET",
            timeout: 0,
            headers: {
                "Content-Type": "application/json",
                "X-Session-ID": session_id,
            },
        }).done((response) => {
            if (response.success) {
                $.cookie("uid", uid);
                $.cookie("session_id", session_id);
                $("#login_button")[0].classList.add("hidden");
                if (response.data.group == "default") user_type = 1;
                else if (response.data.group == "operator") user_type = -1;
                display_username();
            }
        });
    }
    var copyCode = () => {
        var codeDisplay = document.querySelector(".code_display");
        var code = codeDisplay.innerText;
        navigator.clipboard.writeText(code);
    };
</script>
</body>
</html>
